body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1.25rem 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    margin-top: 0;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 3.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

input[type="text"], input[type="number"] {
    width: 70%; /* 가격 입력창 크기 조정 */
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 50%; /* 반응형으로 조정 */
}

li.long-text {
    width: auto; /* 긴 텍스트일 경우 자동 조정 */
}

h2 {
    margin-top: 2rem;
}

.selection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px; /* 각 섹션 사이의 간격 추가 */
}

.selection-section {
    margin-bottom: 20px; /* 각 섹션 사이의 간격 추가 */
}

.selectable-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1 0 30%; /* 박스의 크기를 고정하지 않고 유연하게 조절 */
    text-align: center;
}

.selectable-box.selected {
    background-color: #444;
    color: #fff;
}

.selectable-box.disabled {
    background-color: #ccc;
    color: #777;
    pointer-events: none;
}

