<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이스크림 가게 관리</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">홈</a>
            <a href="/item">추가</a>
            <a href="/order">주문</a>
            <a href="/stock">재고</a>
            <a href="/history">내역</a>
            <a href="/sales">매출</a>            
            <a href="/log">로그</a>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
