{% extends "navbar.jinja2" %}

{% block head %}
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/css/sales.css">
{% endblock %}

{% block content %}
<h2>매출량</h2>
<div class="sales-container">
    <div class="sales-graph">
        <img src="{{ total_sales_data }}" alt="총 매출">
    </div>
    <div class="sales-graph">
        <img src="{{ icecream_sales_data }}" alt="아이스크림 매출량">
    </div>
</div>
{% endblock %}
