/* static/css/common.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../images/bacbackground_3.png'); /* 배경 이미지 경로 수정 */
    background-size: cover; /* 배경 이미지가 전체 화면을 덮도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 중앙으로 설정 */
    height: 100vh; /* 전체 화면 높이 설정 */
}

main {
    margin-top: 3.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
