{% extends "base.html" %}

{% block content %}
<h2>아이스크림</h2>
<ul>
    <li>바닐라</li>
    <li>초콜릿</li>
    <li>딸기</li>
</ul>
<form action="/ice_cream/" method="post">
    <input type="text" name="name" placeholder="이름">
    <input type="number" name="price" placeholder="가격">
    <button type="submit">추가</button>
</form>

<h2>토핑</h2>
<ul>
    <li>오레오</li>
    <li>초코볼</li>
    <li>시리얼</li>
</ul>
<form action="/topping/" method="post">
    <input type="text" name="name" placeholder="이름">
    <input type="number" name="price" placeholder="가격">
    <button type="submit">추가</button>
</form>

<h2>기타 품목</h2>
<ul>
    <li>컵</li>
    <li>숟가락</li>
    <li>홀더</li>
</ul>
<form action="/other_item/" method="post">
    <input type="text" name="name" placeholder="이름">
    <input type="number" name="price" placeholder="가격">
    <button type="submit">추가</button>
</form>
{% endblock %}
